fastapi==0.111.0
uvicorn[standard]==0.23.1
SQLAlchemy==2.0.23
psycopg2-binary==2.9.7
python-dotenv==1.0.1
pydantic==2.4.0
aiofiles==23.2.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
